*{
  padding: 0;
  margin: 0;
}

ul{
  list-style:none;
}

.active{
  color: #f00;
}

.title{
  text-align: center;
  /*上面的优先级高*/
  padding: 10px;
  padding-left: 200px;
  border-bottom: 1px solid #888888;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 200px;
  bottom: 0;
  padding-top: 50px;
  border-left: 1px solid #888;
  overflow-y: auto;
  background: #304156;
}

li {
  border-top: 1px solid #eee;
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.container{
  padding-left: 210px;
}

